@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
	background-color: black;
	font-family: "Poppins", sans-serif;
}

#header {
	width: 20%;
  height: 100px;
	margin: 15px;
	float: left;
}

#header:hover {
	cursor: pointer;
}

#header h3 {
	color: limegreen;
	text-align: center;
}

#logo {
	border-radius: 15px;
}

/* Navigation */
nav {
	float: right;
	width: 40%;
	margin-top: 10px;
	margin-right: 20px;
	height: 100px;
}

#menu {
	display: none;
	height: 100%;
}

#menu li {
	list-style-type: none;
	padding: 2px;
	margin: 2px;
}

#menu p {
	font-variant: small-caps;
	font-weight: bold;
	text-decoration: underline;
	color: limegreen;
	font-size: 20px;
}

#nav-menu1:checked ~ #menu {
	display: block;
}


/* Hamburger Menu Icon */
#hamburger-icon {
	float: right;
	margin-top: 15px;
	margin-right: 25px;
}

#hamburger-icon:hover {
	cursor: pointer;
}

#nav-icon1 span{
  display: block;
  margin:4px;
  height: 9px;
  width:60px;
  background: limegreen;
}

#nav-menu1:checked ~ #nav-icon1 span:nth-child(1) {
  -webkit-transform: rotate(135deg) translate(21px,-13px);
  -moz-transform: rotate(135deg) translate(21px,-13px);
  -o-transform: rotate(135deg) translate(21px,-13px);
  transform: rotate(135deg) translate(21px,-13px);
}

#nav-menu1:checked ~ #nav-icon1 span:nth-child(2) {
   opacity: 0;
}

#nav-menu1:checked ~ #nav-icon1 span:nth-child(3) {
  -webkit-transform: rotate(-135deg) translate(3px);
  -moz-transform: rotate(-135deg) translate(3px);
  -o-transform: rotate(-135deg) translate(3px);
  transform: rotate(-135deg) translate(3px);
}

input[type="checkbox"]{
  display:none;
}

#nav-icon1 span{  
  cursor:pointer; 
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/*Hyperlink Rules*/
#menu a, a:link, a:visited {
  color: limegreen;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px; 
}

#menu a::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, limegreen, limegreen);
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size .3s ease-in;
}

#menu a:hover::before {
  background-size: 100% 2px;
}